.container {
    border: 2px solid blue;
    padding: 10px;
    width: 500px;
    margin: 10px;

    .label {
        display: block;
        font-size: 18px;
        margin: 0 0 0 10px;
    }
    input {
        width: 350px;
        height: 35px;
        border-radius: 5px;
        background: lightblue;
        margin: 10px 0 10px 10px;
    }
    button.sent-post {
        display: block;
        width: 100px;
        background: blue;
        padding: 5px;
        border-radius: 2px;
        box-shadow: lightseagreen;
        margin: 10px 0 20px 20px;
    }
    button.fatch-post {
        width: 100px;
        background: green;
        padding: 5px;
        border-radius: 2px;
        margin: 10px 0 20px 20px;
    }
    button.clear-post {
        width: 100px;
        background: orange;
        padding: 5px;
        border-radius: 2px;
        margin: 10px 0 20px 20px;
    }
}