<div class="container">
    <main class="emp-main">
        <div class="all-emp" *ngFor="let employee of employees">
            <h3 class="emp-header" (click)="toggelEmpDetails()" [class.viewedEmp]="optionalId === employee.id">
                {{ employee.fName }} {{ employee.lName }}
            </h3>
            <ng-container *ngIf="show">
                <div class="emp" (click)=onClickShowDetails(employee.id)>
                    <div class="epm-img">
                        <img [src]="employee.photoPath" alt="employee photo">
                    </div>
                    <div class="emp-properties">
                        <ul>
                            <li>Email</li>
                            <li>Phone</li>
                            <li>Contact Preference</li>
                            <li>Gender</li>
                            <li>Date of Birth</li>
                            <li>Department</li>
                            <li>Skilles</li>
                            <li>Exprince in Years</li>
                            <li>Proficiance</li>
                            <li>Is Active</li>
                        </ul>
                        <ul>
                            <li><span>: </span>{{ employee.email }}</li>
                            <li><span>: </span>{{ employee.phoneNumber }}</li>
                            <li><span>: </span>{{ employee.contactPref }}</li>
                            <li><span>: </span>{{ employee.gender }}</li>
                            <li><span>: </span>{{ employee.dob | date:"dd/MM/yyyy"}}</li>
                            <li><span>: </span>{{ employee.department }}</li>
                            <li><span>: </span>{{ employee.department }}</li>
                            <li><span>: </span>{{ employee.department }}</li>
                            <li><span>: </span>{{ employee.department }}</li>
                            <li><span>: </span>{{ employee.isActive }}</li>
                        </ul>
                    </div>
                </div>
            </ng-container>
        </div>
    </main>
</div>