.nav-list 
{
    display: flex;
    width: 100%;
    padding: 10px;
    background-color: #000;
    opacity: 0.8;
    
    .nav-links {
        list-style: none;
    }
    .nav-links a {
        color: #fff;
        text-decoration: none;
        font-size: 18px;
        margin: 0 10px 0 0;
    }
    
    .nav-links a:hover {
        background-color: gray;
        padding: 10px;
        border-radius: 2px;
    }
}