<div class="container">
  <nav>
    <ul class="nav-list">
      <li class="nav-links"><a routerLinkActive="active" routerLink="home">Home <span> | </span></a></li>
      <li class="nav-links"><a routerLinkActive="active" routerLink="employees">Employees <span> | </span></a></li>
      <li class="nav-links"><a routerLinkActive="active" routerLink="create"></a>Create Employee <span> | </span></li>
      <li class="nav-links"><a routerLinkActive="active" routerLink="obsOper">Observable Operators <span> | </span></a></li>
      <li class="nav-links"><a routerLinkActive="active" routerLink="chess">Chess Board <span> | </span></a></li>
    </ul>
  </nav>
</div>
<router-outlet></router-outlet>